*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
signingKey.properties
client_secret_692059881631-444n4sddirn8tqkuhlqbeac3qiorrv5u.apps.googleusercontent.com.json
client_secret_692059881631-ee5hc4p1kfl18c79032h0bchj59fj0jr.apps.googleusercontent.com.json
